---
import { getCollection } from "astro:content";
const allProjects = await getCollection("project");

const projectLoop = allProjects.map((project) => {
  return {
    ...(project.data || {}),
    link: `/project/${project.slug}`,
  };
});

import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Moje Projekty">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Moje Projekty"
      description="Witaj w świecie moich twórczych przedsięwzięć! Ta sekcja to skarbnica innowacji i pasji, gdzie każdy projekt opowiada własną historię kreatywności i determinacji."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projectLoop.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.link}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
